.body-container {
  height: 100vh;
  border: 1vh black solid;
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

  
  .header{
    height: 8%;
    background-color: skyblue;
    font-size: 30px;
    color: black;
    /* width: 100%; */
    display: flex;
    align-items: center;
    padding-left: 3%;
    /* padding-right: 3%; */
    font-weight: bolder;
    border-bottom: 0.5vh black solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
    
  }
 .main-container{
  height: 87%;
  padding-left: 3%;
  padding-right: 3%;
 }
 
  .content-container{
    display: flex;
    flex-direction: row;
    height: 88%;
    justify-content: space-between;
  }
  
  
  .statuses-column{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;   
    justify-content: center;
  }
 
  .transitions-column{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
   
  }

 .round-button{
  display:block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: red;
  position: absolute;
  bottom:   10%;
  right: 10%;
 }