.container {
  height: 100vh;
  padding: 0;
  margin: 0;
  }
  
  .headerLine{
    background-color: skyblue;
    font-size: calc(10px + 2vmin);
    color: black;
    width: 100%;
    height: fit-content;
    text-align: left;
  padding: 10px;
    margin: 0;
  }
  
  .content{
    display: flex;
    flex-direction: row;
  }
  
  .products-column{
    width: 50%;
  }
  
  .product-details-column{
    width: 50%;
  }
  
  